* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
/* --------------------------- header styles begin -------------------------- */
header {
  width: 100%;
  min-height: 60vh;
  background-image: url('../img/heroImage.jpg');
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .hero {
  width: 60%;
  height: auto;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .hero .logo {
  width: 70px;
  height: 70px;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3em;
}
header .hero p {
  font-size: 2.3em;
  color: #ffffff;
}
header .hero h2 {
  font-size: 4em;
  color: #ffffff;
  text-transform: uppercase;
}
header .hero .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2em;
}
header .hero .buttons a.btn{
  padding: .8em 1.3em;
  border-radius: 5px;
  color: #ffffff;
  font-style: normal;
  transition: .25s ease;
  width: 140px;
  text-align: center;
}
header .hero .buttons a.btn.primary {
  background: linear-gradient(180deg, #FD5D39, #F49565);
  border: 1px solid #FD5D39;
}
header .hero .buttons a.btn.secondary {
  border: 1px solid #ffffff;
}
header .hero .buttons a.btn.secondary:hover {
  background: rgba(255, 255, 255,.2);
}
/* --------------------------- header styles end -------------------------- */
/* --------------------------- main styles begin -------------------------- */
/* description styles*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main section.content-description {
  width: 100%;
  min-height: 380px;
  background: linear-gradient(to right, #FD5D39, #F49565);
  display: flex;
  justify-content: center;
  padding: 10px;
}
main section.content-description .description {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main section.content-description .description h2 {
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3em;
}
main section.content-description .description p {
  text-align: center;
  color: #ffffff;
  font-size: 1em;
}
/* skills styles*/
main section.content-skills {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.content-skills .skills {
  width: 70%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main section.content-skills .skills .title{
  width: inherit;
}
main section.content-skills .skills .title p {
  text-align: center;
  font-size: 1.8em;
}
main section.content-skills .skills .title h2 {
  text-align: center;
  font-size: 2.8em;
}
main section.content-skills .skills .content-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: .5em;
  margin: 4em 0;
}
main section.content-skills .skills .content-cards .card {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 5px;
  padding: 2.5em 0;
  box-shadow: 0 10px 15px rgba(0,0,0,.2);
  text-align: center;
  position: relative;
}
main section.content-skills .skills .content-cards .card .iconCard {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: linear-gradient(180deg, #FD5D39, #F49565);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30%;
}
main section.content-skills .skills .content-cards .card .iconCard i {
  font-size: 1.4em;
  color: #ffffff;
}
main section.content-skills .skills .content-cards .card h4 {
  margin-bottom: 1em;
  font-size: 1.3em;
}
main section.content-skills .skills .content-cards .card p {
  font-size: .9em;
  width: 80%;
}
main section.content-skills .skills .contentList{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main section.content-skills .skills .contentList .listSkills ul li {
  margin-bottom: 10px;
}
main section.content-skills .skills .contentList .listSkills ul li:last-child{
  margin-bottom: 0px;
}
main section.content-skills .skills .contentList .listSkills ul li i {
  color: #FD5D39;
  font-size: 12px;
  margin-right: 5px;
}